
.task-name{
    border: 2px solid black;
    padding:10px 20px ;
    color:rgb(14, 14, 83);
    margin-right: 15px;
    border-radius: 2px;
}
#timing{
    border: 2px solid black;
    padding:10px 20px ;
    color:rgb(14, 14, 83);
    margin-left: 15px;
    border-radius: 2px;
}
.add-button{
    border: none;
    background-color: rgb(15, 138, 15);
    padding:10px 15px;
    color: white;
    font-weight: bold;
    border-radius: 2.5px;
    transition: background-color 0.1s;
    margin-left: 20px;
}
.add-button:hover{
    background-color:grey;
}
.container{
    align-items: center;
    
}
#dateing{
    border: 2px solid black;
    padding:10px 20px ;
    color:rgb(14, 14, 83);
    margin-right: 5px;
    border-radius: 2px;
}

.output {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.output th, .output td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.output th {
    background-color: #f2f2f2;
}

.delete-btn {
    padding: 5px 10px;
    color: white;
    background-color: red;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}